* {
  box-sizing: border-box;
}

.link {
  display: inline-block;
  min-width: 100px;
  width: 100%;
  
  /* переполнение одной строки */
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 10px 20px;
  border: 1px solid;
  border-radius: 20px;

  text-decoration: none;
  text-transform: capitalize;
  color: rgb(17, 97, 177);

  background-color: rgb(4, 155, 4);
}
