* {
  box-sizing: border-box;
}

.card-header {
  height: 40vh;
  background-color: dodgerblue;
  background-image: url(./fon.jpg);
  background-position: center;
  background-size: cover;
}

.card-content {
  text-align: center;
}

.avatar-wrapper {
  margin: 0 auto;

  max-width: 100px;
  min-width: 60px;
}

.avatar {
  display: block;
  
  width: 100%;
  min-height: 60px;
  max-height: 100px;
  height: 100%;

  margin-top: -50%;

  border: 5px solid white;
  border-radius: 50%;

  object-position: top;
  object-fit: cover;
}
